<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'ttsx/css/reset.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ttsx/css/main.css' %}"/>
	<script type="text/javascript" src="{% static 'ttsx/js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ttsx/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ttsx/js/slide.js' %}"></script>
    {% block extCSS %}{% endblock %}

</head>

<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">

				{% if user.id %}
				<div class="login_info fl">
					欢迎您：<em>{{ user.username }}</em>
					<span>|</span>
					<a href="">退出</a>
				</div>
				{% else %}
				<div class="login_btn fl">
					<a href="{% url 'user:login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'user:register' %}">注册</a>
				</div>
				{% endif %}

				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:user_center_info' %}">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>
	</div>
		<div class="search_bar clearfix">
		<a href="{% url 'store:index' %}" class="logo fl"><img src="{% static 'ttsx/images/logo.png' %}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>
	{% block content %}{% endblock %}

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

{% block extJS %}{% endblock %}

</body>
</html>