{% extends 'base_order.html' %}

{% load static %}
{% block title %}天天生鲜-用户中心{% endblock %}
{% block extCSS %}{% endblock %}

{% block abr %}用户中心{% endblock %}
{% block content %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user_center_info' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'user:user_center_order' %}">· 全部订单</a></li>
				<li><a href="{% url 'user:user_center_site' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
		<div class="info_con clearfix">
		<h3 class="common_title2">基本信息</h3>
				<ul class="user_info_list">
					<li><span>用户名：</span>{{ user.username }}</li>
					<li><span>联系方式：</span>{{ user.phone }}12345</li>
					<li><span>联系地址：</span>{{ user.direction }}成都</li>
				</ul>
		</div>
				
		<h3 class="common_title2">最近浏览</h3>
		<div class="has_view_list">
			<ul class="goods_type_list clearfix">

				<li>
					<a href="detail.html"><img src="{% static 'ttsx/images/goods/goods003.jpg' %}"></a>
					<h4><a href="detail.html">大兴大棚草莓</a></h4>
					<div class="operate">
						<span class="prize">￥16.80</span>
						<span class="unit">16.80/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

			</ul>
		</div>
		</div>
	</div>
{% endblock %}
